<p id="notice"><%= notice %></p>

<h1>Listing Profile Reviews</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Address1</th>
      <th>Addresss2</th>
      <th>City</th>
      <th>State</th>
      <th>Time zone</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Gplace</th>
      <th>Gcid</th>
      <th>Gfid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= profile_review.user_id %></td>
        <td><%= profile_review.address1 %></td>
        <td><%= profile_review.addresss2 %></td>
        <td><%= profile_review.city %></td>
        <td><%= profile_review.state %></td>
        <td><%= profile_review.time_zone %></td>
        <td><%= profile_review.lat %></td>
        <td><%= profile_review.long %></td>
        <td><%= profile_review.gplace_id %></td>
        <td><%= profile_review.gcid %></td>
        <td><%= profile_review.gfid %></td>
        <td><%= link_to 'Show', profile_review %></td>
        <td><%= link_to 'Edit', edit_profile_review_path(profile_review) %></td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Profile review', new_profile_review_path %>
