<div class="wrap">
  <nav class="nav-bar navbar-default" role="navigation">
      <div id ="top-menu" class="container-fluid active">
           <%= render 'layouts/logo' %>
          <%= render 'layouts/user_nav' %>
      </div>      
  </nav>
  <%= render 'layouts/user_side_nav' %>
  
  <!--Body content-->
  <div class="content">
  <div class="top-bar" style="background: white !important; display: block;">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
    <br />

             <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="color: white !important;"><%= @user.first_name %> <%= @user.last_name %></h3>
                    </div>
                    <div class="panel-body" style="background: white !important; font-size: 14px !important;">
                        <div class="row">
                           
                            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                <span class="cust-block-icons" style="color: #2388f9 !important; font-size: 50px !important;"><i class="glyphicon glyphicon-user"></i></span>
                            </div>
                            <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">
                                

                                <table class="table">
                                <thead>
                                  <th style="background: transparent !important; border-bottom: 0px solid !important;">
                                    Profile Details
                                  </th>
                                </thead>
                                <tbody>
                                <tr>
	                                
                                </tr>
                                	<tr>
                                		<td>NextPakk Address:</td>
                                		<td>
                                		3909 Minnehaha Ave <br />
                                		NextPakk #<%= @user.packs_num %><br />
                                		Minneapolis, MN 55406

                                		</td>
                                	</tr>
                                	<tr>
                                	<td>Email:</td>
                                	<td><%= @user.email %>

                                	</tr>
                                  <tr>
                                  <td>Home Zipcode:</td>
                                  <td><%= @user.zip_code %>

                                  </tr>
                                  </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-sm btn-primary" type="button"
                                data-toggle="tooltip"
                                data-original-title="Send message to user"><i class="glyphicon glyphicon-map-marker"></i></button>
                        <span class="pull-right">
                            <%= link_to edit_user_registration_path, class: "btn btn-sm btn-warning"  do %> 
                            <i class="glyphicon glyphicon-edit" style="color: white !important;"></i>
                            <% end %>
                           
                                    
                        </span>
                    </div>
                </div>
    </section>
  </div>  
  
</div>

