<div class="wrap">
  <nav class="nav-bar navbar-default" role="navigation">
      <div id ="top-menu" class="container-fluid active">
          <%= render 'layouts/logo' %>
          <%= render 'layouts/user_nav' %>
      </div>      
  </nav>
  <%= render 'layouts/user_side_nav' %>
  
  <!--Body content-->
  <div class="content">
   
    <section class="content-inner">
    <br />
          <h1>Update Delivery</h1>
            <table>
              <tr>
                <th colspan="5"><%= link_to "Back", root_path, class: "btn btn-default btn-xs" %></th>
              </tr>
            </table>
                  <table class="table table-hover table-condensed" style="width: 97% !important;">
                    
                      <tr>
                        <th>ID</th>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Window</th>
                        <th colspan="5"></th>
                      </tr>
                   

                    <tbody>
                    <% i = 0 %>
                      <% @schedules.each do |schedule| %>
                        <tr>
                        <td><%= schedule.delivery_id %></td>
                        <td><%= schedule.day.strftime("%A") %> </td>
                          <td> <%= schedule.day %></td>
                          <td><%= schedule.slot.window %></td>
                          <td><%= link_to "Edit Address", edit_delivery_path(schedule.delivery_id), class: "btn btn-default btn-xs" %></td>
                          <td><% link_to 'Show', schedule %></td>
                          <td><%= link_to 'Edit Date', edit_schedule_path(schedule), class: "btn btn-default btn-xs" %></td>
                          <td><% link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% i += 1 %>
                        <% if i == 10 %>
                        <% break %>
                        <% end %>
                      <% end %>
                    </tbody>
                  </table>
                  <br>

<% link_to 'New Schedule', new_schedule_path %>
    </section>
  </div>  
  
</div>


