
<div class="wrap">
  <nav class="nav-bar navbar-default" role="navigation">
      <div id ="top-menu" class="container-fluid active">
           <%= render 'layouts/logo' %>
          <%= render 'layouts/user_nav' %>
      </div>      
  </nav>
  <%= render 'layouts/user_side_nav' %>
  
  <!--Body content-->
  <div class="content">
    <div class="top-bar" style="background: white !important;">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner"><br />
          

<div class="panel panel-primary" >
                    <div class="panel-heading">
                        <h3 class="panel-title" style="color: white !important;">Delivery Address Details</h3>
                    </div>
                    <div class="panel-body" style="background: white !important; font-size: 14px !important;">
                        <div class="row">
                           
                            <div class="col-xs-2 col-sm-2 hidden-md hidden-lg">
                                <span class="cust-block-icons" style="color: orange !important; font-size: 50px !important;"><i class="glyphicon glyphicon-map-marker"></i></span>
                            </div>
                            <div class="col-xs-10 col-sm-10 hidden-md hidden-lg">



									<div class="star-rating" data-score= <%= @avg_rating %> style="display: none;"></div>
											<p style="display: none;"><%= "#{@reviews.length} reviews" %></p>
									<dl>
                                    <dt>Delivery address</dt>
                                    <dd><%= @delivery.address %></dd><br />

                                    
                                    <dd>
                                     <% #link_to @delivery.address, "http://maps.google.com/?q=#{@delivery.address}" %>
                                     <% if User.exists?(driver: true) %>
                                    <% link_to "Deliver", "http://maps.google.com/?q=#{@delivery.address}", class: "btn btn-default" %>
                                    <% else %>
                                    <dd style="color: green;">Delivery Pending</dd>
                                    <% end %>
                                    	
                                    </dd><br />

                                    <dt>Phone</dt>
                                    <dd><%= @delivery.phone %></dd><br />
                                    <% @myOrd = @orders.find(@delivery.order_id) %>

                                    <% @ordStatCheck = @myOrd.order_status_id %>
                                    <dt style="display: none;">Review</dt><br/>
                                    <% if Order.exists?(@ordStatCheck == 3) %>
                                    	<dd><%= link_to "Write a Review", new_delivery_review_path(@delivery), class: "btn btn-default" %></dd>
                                    <% else %>
                                    	<h4 style="display: none;">"After delivery is complete please leave a review."</h4>
                                    <% end %>
                                </dl>
                                	
                            
                            <% if @reviews.blank? %>
							<dd><h3></h3></dd>
							<% else %>
								<table class="table">
								<thead>
									<tr>
										<th class="col-md-4"></th>
										<th class="col-md-8"></th>
									</tr>
								</thead>
									<tbody>	
									<% @reviews.each do |review| %>
										<tr>
										  <td>
											  <h4>
							                     <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
							                     	
							                   </h4>
							                   <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
						                   </td>
											<td>
												<div class="star-rating" data-score = <%= review.rating %>></div>
												<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
												<% if user_signed_in? %>
													<% if (review.user == current_user) || (current_user.admin?) %>
														<%= link_to "Edit", edit_delivery_review_path(@delivery, review), class: "btn btn-default" %>
													<% end %>
													<% if (current_user.admin?) %>
														<%= link_to "Delete", delivery_review_path(@delivery, review), method: :delete %>
													<% end %>
												<% end %>
											</td>
										</tr>
										<% end %>
									</tbody>
								</table>		
							<% end %>

                            </div>
                            
                        </div>
                       
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-sm btn-default" type="button"
                                data-toggle="tooltip"
                                data-original-title="Send message to user"><i class="glyphicon glyphicon-map-marker" style="display: none;"></i></button>
                        <span class="pull-right">
                            <%= link_to edit_delivery_path(@delivery), class: "btn btn-sm btn-warning"  do %> 
                            <i class="glyphicon glyphicon-edit" style="color: white !important;"></i>
                            <% end %>
                           
                                    <%= link_to deliveries_path, class: "btn btn-sm btn-warning"  do %>
                                    <i class="glyphicon glyphicon-arrow-left" style="color: white !important;"></i>
                                    <% end %>
                        </span>
                    </div>
                </div>

    </section>
  </div>  
  
</div>

<script >
	$('.star-rating').raty({ path: 'https://s3.amazonaws.com/yelppaksdemo2/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>