<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @invitee.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @invitee.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @invitee.email %>
</p>

<p>
  <strong>Sent by:</strong>
  <%= @invitee.sent_by_id %>
</p>

<%= link_to 'Edit', edit_invitee_path(@invitee) %> |
<%= link_to 'Back', invitees_path %>
