<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order userid</th>
      <th>Order packnum</th>
      <th>Order size</th>
      <th>Order description</th>
      <th>Order qty</th>
      <th>Order cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_userid %></td>
        <td><%= order.order_packnum %></td>
        <td><%= order.order_size %></td>
        <td><%= order.order_description %></td>
        <td><%= order.order_qty %></td>
        <td><%= order.order_cost %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
