<h1>New NextPakk Purchase </h1>

<blockquote>
<% @newOrder = Purchase.last %>

<h2>Order Details</h2>

ID: <%= @newOrder.id%><br />
EMAIL: <%= @newOrder.email %><br />
AMOUNT: <%= @newOrder.amount%><br />
DESCRIPTION: <%= @newOrder.description%><br />
QTY: <%= @newOrder.order_qty %><br />
ORDER NUM: <%= @newOrder.order_num %>


<%= "Order Details." %><h4><a href="http://www.nextpack.delivery">gonextpakk.com</a></h4>
</blockquote>

<div >

</div>