<h1>New NextPakk User </h1>

<blockquote>
<% @new = User.last %>

<h2>User Details</h2>

ID: <%= @new.id%><br />
EMAIL: <%= @new.email %><br />
NAME: <%= @new.first_name%> <%= @new.last_name%><br />
NEXTPAKK#: <%= @new.packs_num %><br />


<h4><a href="http://www.nextpakk.com">NextPakk</a></h4>
</blockquote>

<div >

</div>
