<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border-radius: 6px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <h2>Thank you! We need your help. Would you share your experience on one of these sites?</h2><br />

         <% @newLinks.each do |profile_link| %>
                                          <button type="button" class="btn btn-default" style="width: 125px;">
                                       <a href="<%= profile_link.link_url %>" style="cursor: pointer;"  ><%= image_tag "#{profile_link.link.image}", class: "img-responsive" %></a>
                                        <% profile_link.id %>
                                        </button>
                                      <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalFormLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border-radius: 6px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalFormLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <h2>We strive for 100% customer satisfaction. If we fell short, please tell us more so we can address your concerns.</h2>

        <h1>FORM GOES HERE</h1>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


    <section class="content" style="background: whitesmoke;">
      <!-- Small boxes (Stat box) -->
     <!-- Default box -->
      <div class="box" style="border-top: 0px !important;">
      <h3 style="text-align: center; padding-top: 20px; color: #666666!important;">Please take a moment to review your experience with us.</h3>
        <div class="box-header with-border">

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
          </div>
        </div>
        <div class="box-body" style="text-align: center; margin: auto;">
                      <% if current_user.image.present? %>
                            <%= image_tag current_user.image, class: "img-circle", style: "width: 304px;" %>
                          <% else %>
                            <%= image_tag "/assets/fallback/default.png", class: "img-circle", style: "width: 250px;" %>
                      <% end %>

                  <div class="row" style="margin-bottom: 30px;">
                    <h2>
                      Your feedback not only helps us, it helps other potential customers.<br /> Would you recommend us to your friends and family?
                    </h2>
                  </div>
                  <div class="row">
                  <div class="col-md-6">
                    <div class="box box-solid">
                      <div class="box-body" style="float: right;">
                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        <a href="#" style="cursor: pointer;"><%= image_tag "https://s3.amazonaws.com/reviewssos/thumbs-up.jpg", class: "img-responsive", style: "width: 200px; margin-top: -20px;" %></a>
                         </button>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                  </div>
                  <!-- ./col -->


                  <div class="col-md-6" style="text-align: left;">
                    <div class="box box-solid">
                      <div class="box-body">
                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModalForm">
                        <a href="#" style="cursor: pointer;"><%= image_tag "https://s3.amazonaws.com/reviewssos/thumbs-down.jpg", class: "img-responsive", style: "width: 200px; margin-top: -20px;" %></a>
                          </button>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                  </div>
                  <!-- ./col -->

                  </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
         <%=
            #url = 'https://www.yelp.com/biz/egg-house-cafe-crystal'

            page = MetaInspector.new('https://www.yelp.com/biz/egg-house-cafe-crystal') 

            page.parsed

            doc = page.parsed

            review = doc.css("div.biz-page-actions a")[0]['href']


            link_to "write a review", "https://yelp.com#{review}", class: "btn-primary btn", style: "color:white;"
          %>
          <%=  
              str = "Spotberry Online Solutions"
              str.parameterize('-')

          %><br />

          <li><%= link_to 'Invite', new_user_invitation_path %></li>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->