<p id="notice"><%= notice %></p>

<h1>Listing Poor Reviews</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Invite</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poor_reviews.each do |poor_review| %>
      <tr>
        <td><%= poor_review.user_id %></td>
        <td><%= poor_review.invite_id %></td>
        <td><%= poor_review.first_name %></td>
        <td><%= poor_review.last_name %></td>
        <td><%= poor_review.message %></td>
        <td><%= link_to 'Show', poor_review %></td>
        <td><%= link_to 'Edit', edit_poor_review_path(poor_review) %></td>
        <td><%= link_to 'Destroy', poor_review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poor review', new_poor_review_path %>
