<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @promo.code %>
</p>

<p>
  <strong>Code:</strong>
  <%= @promo.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @promo.name %>
</p>

<%= link_to 'Edit', edit_promo_path(@promo) %> |
<%= link_to 'Back', promos_path %>
