<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @appointment.day_id %>
</p>

<p>
  <strong>Slot:</strong>
  <%= @appointment.slot %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
